<ul class="section-fields">
  <li>
    <span>Main</span>{{input type="text" value=model.hero.main}}
  </li>
  <li>
    <span>First word</span>{{input type="text" value=model.hero.first}}
  </li>
  <li>
    <span>Second word</span>{{input type="text" value=model.hero.second}}
  </li>
  <li>
    <span>Third word</span>{{input type="text" value=model.hero.third}}
  </li>
</ul>