<style>
  form {
    margin:0 auto;
    width:300px;
    margin-top: 250px;
  }
  input {
    margin-bottom:3px;
    padding:10px;
    width: 100%;
    border:1px solid #CCC
  }
  button {
    padding:10px
  }
  label {
    cursor:pointer
  }
  #form-switch {
    display:none
  }
  #register-form {
    display:none
  }
  #form-switch:checked~#register-form {
    display:block
  }
  #form-switch:checked~#login-form {
    display:none
  }
</style>

<form id='login-form' action="" method='post'>
  {{input type="text" placeholder="Username" value=login }}
  {{input type="password" placeholder="Password" value=password }}
  <button {{action "signIn" on="click"}} type='submit'>Login</button>
</form>